<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <!-- <p *ngIf="gadgets.length === 0">No Record Found</p>   -->
  <ion-list>
    <div *ngFor="let gadget of gadgets">
      <ion-button (click)="openDetailPage(gadget.id)">{{gadget.name}} </ion-button>
    </div>
  </ion-list>

  <ion-button expand="full" id="edit">Edit Gadgetlist</ion-button>

</ion-content>
