<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="page-container">
  <h1 class="title">Overview</h1>

  <!-- <div class="edit-cont">
    <button class="edit-btn" id="edit" (click)="doRefresh($event)">Edit Gadgetlist</button>
  </div> -->

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <p *ngIf="gadgets.length === 0">No Record Found</p>   -->

      <!-- Your virtual scroll content -->



  <list class="button-container">
    <div *ngFor="let gadget of gadgets">
      <button class="button-wrap"  (click)="openDetailPage(gadget.id)">
        <img src="../../assets/{{gadget.icon}}.svg" alt="icon" width=30 height=30>

        <p class="gadget-title">{{gadget.name}}</p>
        <!-- <input ng-show="edit == true" ng-model="gadget.name" > -->
      </button>
      <!-- Doesn't work yet (does not refresh) -->
      <button id="gadget.id" (click)="deleteItem(gadget.id, $event)">DELETE</button>
    </div>
  </list>



</div>
</ion-content>
