#edit{
  margin-top: 15%;
}

.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.page-container {
  background-color: white;
}


.button-container {
  //display: grid;
  //grid-template-area:
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}


.button-wrap {
  width: 6rem;
  height: 7.5rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #EFF1FA;
}

.gadget-title {
  font-weight: 600;
  line-height: 1rem;
  color: #5967E5;
}


.edit-cont {
  display: flex;
  justify-content: center;
}

.edit-btn {
  justify-items: center;
  background-color: #5967E5;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 0rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 4rem;
}
