

ion-datetime{
  // margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  --backgorund: white;
}


ion-progress-bar{
 width: 95%;
 margin: 0 auto;
 padding: 0.4rem;
 color: #5967E5;
 border-radius: 2rem;
 margin-bottom: 2rem;
}

.content-container{
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

ion-title{
  margin-bottom: 2rem;
}

.mbsc-timeline-resource-col {
  color: red;
}



.md-custom-event-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mbsc-custom-event-name {
  font-weight: 500;
  font-size: 1rem;
  padding-left: 1rem;
}

.md-custom-event-cont {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 13px;
  // background-color: #FFAB00;
  // color: white;
  // color: #5967E5;
  padding: 1rem;
  border-radius: 0.5rem;
  letter-spacing: 0.01rem;
}

.md-custom-event-btn,
.md-custom-event-btn.mbsc-button {
  position: absolute;
  right: 10px;
  bottom: 8px;
  line-height: 20px;
  background-color: #5967E5;
}

.md-custom-event .mbsc-material.mbsc-event-time {
  margin-top: 5px;
}


.missing-container {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #EFF1FA;
  border-radius: 0.5rem;
  font-weight: 600;
}

.progress-text {
  padding-top: 2rem;
  padding-left: 1rem;
  font-weight: 600;
}

.my-title {
  font-size: 1rem;
  font-weight: 600;
}

.my-title-light {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.2
}
