<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title>Good morning Julian!</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content  [fullscreen]="true">
  <div class="content-container">
  <!-- <ion-item class="the_date">
    <ion-datetime></ion-datetime>
  </ion-item>
  <ion-text>6/14 gadgets in backpack</ion-text>
  <ion-progress-bar class="progress-bar" color="primary" value="0.5"></ion-progress-bar> -->


  <!-- <ng-template #customHeaderTemplate>
    <div>Resources</div>
  </ng-template> -->

  <!-- https://docs.mobiscroll.com/angular/eventcalendar -->

  <!-- <mbsc-eventcalendar  [data]="myEvents" [options]="eventSettings"></mbsc-eventcalendar> -->
  <mbsc-eventcalendar [eventContentTemplate]="contentTemplate" [data]="myEvents" [options]="eventSettings" class="md-custom-event" (onPageLoading)="onPageLoading($event)"></mbsc-eventcalendar>
  <!-- <mbsc-eventcalendar [data]="myEvents" [options]="eventSettings" class="md-custom-event" (onPageLoading)="onPageLoading($event)"></mbsc-eventcalendar> -->



<ng-template #contentTemplate let-data>
  <div class="md-custom-event-cont">
      <!-- <div *ngIf="data.title == 1">
        <img class="md-custom-event-img" [src]="getGadget(1).img" />
      </div>
      <div *ngIf="data.title == 2">
        <img class="md-custom-event-img" [src]="getGadget(2).img" />
      </div>
      <div *ngIf="data.title == 3">
        <img class="md-custom-event-img" [src]="getGadget(3).img" />
      </div> -->

      <img class="md-custom-event-img" [src]="getGadget(data.title).img" />
      <div class="my-title">{{data.title}}</div>
      <!-- <div class="mbsc-custom-event-name">{{getGadget(data.original.icon).name}}</div> -->
  </div>
</ng-template>



  <!-- USE THIS AS INSPIRATION TO GET DATA FROM SERVER -->
  <!-- <ion-list class="dynamic">
    <div *ngFor="let gadget of gadgets">
      <div *ngFor="let dyn_need of dyn_gadgets">
        <div *ngIf="gadget.id == dyn_need.gadget_id">
          <ion-item *ngIf="(dyn_need.needed_on | date:'c') == curr_day">
            <ion-label>{{gadget.name}} - (Single) </ion-label>
            <ion-checkbox *ngIf="gadget.in_backpack == 0" color="primary" unchecked slot="start"></ion-checkbox>
            <ion-checkbox *ngIf="gadget.in_backpack == 1" color="primary" checked slot="start"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-list class="static">
    <div *ngFor="let gadget of gadgets">
      <div *ngFor="let stat_need of stat_gadgets">
        <div *ngIf="gadget.id == stat_need.gadget_id">
          <div *ngIf="stat_need.day_of_week == curr_day">
            <ion-item>
              <ion-label>{{gadget.name}} (Periodic/static)</ion-label>
              <ion-checkbox *ngIf="gadget.in_backpack == 0" color="primary" unchecked slot="start"></ion-checkbox>
              <ion-checkbox *ngIf="gadget.in_backpack == 1" color="primary" checked slot="start"></ion-checkbox>
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </ion-list> -->



</div>
</ion-content>
