
<ion-content  [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content-container">
    <h2>Missing items</h2>
    <div class="missing-container" *ngFor="let miss of missing">
      <p>Don't forget {{miss.name}}</p>
    </div>

  <p class="progress-text">{{getMissingAmount()}}/{{getTotalAmount()}} gadgets in backpack</p>
  <ion-progress-bar class="progress-bar" color="primary" [value]="progress()"></ion-progress-bar>

  <h2>Calendar</h2>
  <!-- https://docs.mobiscroll.com/angular/eventcalendar -->
  <mbsc-eventcalendar [eventContentTemplate]="contentTemplate" [data]="myEvents" [options]="eventSettings" class="md-custom-event" (onPageLoading)="onPageLoading($event)"></mbsc-eventcalendar>

<ng-template #contentTemplate let-data>
  <div *ngIf="missingData(data)" class="md-custom-event-cont">
      <img class="md-custom-event-img" [src]="getGadget(data.id).img" />
      <div class="my-title">{{data.title}}</div>
      <!-- <div class="mbsc-custom-event-name">{{getGadget(data.original.icon).name}}</div> -->
  </div>

  <div *ngIf="missingData(data) == false" class="md-custom-event-cont">
    <img class="md-custom-event-img" [src]="getGadget(data.id).img" />
    <div class="my-title">{{data.title}}</div>
  </div>
</ng-template>
</div>
</ion-content>
