

ion-datetime{
  // margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  --backgorund: white;
}


ion-progress-bar{
 width: 80%;
 margin: 0 auto;
 margin-top: 2rem;
 padding: 0.3rem;
 color: #5967E5;
}

.content-container{
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

ion-title{
  margin-bottom: 2rem;
}

.mbsc-timeline-resource-col {
  color: red;
}
