<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>Home</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Good morning Julian!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="the_date">
    <ion-datetime></ion-datetime>
  </ion-item>
  <br>
  
  <div class="static">
    <H3>STATIC</H3>
    <ion-item>
      <ion-label>Math Book</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>English Book</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Computer Book</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
  </div>
  <br>

  <div class="dynamic">
    <H3>DYNAMIC</H3>
    <ion-item>
      <ion-label>Gym Bag</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Food</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
  </div>
  <br>
  

  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>



<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime></ion-datetime>
</ion-content> -->
