<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Gadget
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <!-- Rename Gadget -->
    <h3><ion-input type='text' placeholder="{{ nameOfGadget }}" [(ngModel)]="gadgetName"></ion-input></h3>
  </div>
  <br>

  <div class="staticNeeds">
    <ion-list>
      <ion-item *ngFor="let day of days">
        <ion-label>{{day.val}}</ion-label>
        <ion-checkbox slot="start" checked="true" [(ngModel)]="day.isChecked" ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div class="confbutton">
    <ion-button expand="block" (click)="updateWeekly()">TEST: update weekly</ion-button>
      <ion-button expand="block"  (click)="deleteItem(currGadget.id, $event)" color="danger">Delete Gadget</ion-button>
    <br>
    <ion-button expand="block" (click)="updateGadget()">Save</ion-button>
  </div>

  <div class="confbutton">

  </div>


</ion-content>
