<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gadget Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="bg" >

  <!-- EDIT NAME -->
  <div *ngIf="editname == false" class="name-container" align="center">
    <img src="./assets/{{iconOfGadget}}.svg" alt="icon">
    <h3>{{ nameOfGadget }}</h3>
        <button class="edit-name-btn" *ngIf="editname == false" expand="block" (click)="editPage()">Edit</button>
  </div>

  <div *ngIf="editname == true" class="bg" class="name-container">
    <h3 class="edit-name-cont">
      <img src="./assets/{{iconOfGadget}}.svg" alt="icon" width="30">
      <input class="edit-name" type="text" placeholder="{{ nameOfGadget }}" [(ngModel)]="gadgetName">
    </h3>
  </div>


    <!-- Displays static needs -->
    <div class="dynamicNeeds">
      <h3 class="title-detail">Needs on specific days</h3>

      <ion-popover id="css-popover" trigger="size-button" reference="event">
        <ng-template id="css-popover">
          <ion-datetime locale="fr-FR" #dateNeed></ion-datetime>
          <ion-button (click)="addDynamicNeed(dateNeed.value)">confirm</ion-button>
        </ng-template>
      </ion-popover>

      <ul class="ul-day-of-week dynamic-cont">
        <!-- addedDynNeeds -->
        <li class="day-of-week dynamic-day" *ngFor="let dyn of dynamicDays; let i = index">
         <p>{{dyn.needed_on}}</p>
          <button class="delete-btn" (click)="deleteDyn(i)">
           <img class="delete-btn" src="../../assets/delete.svg" alt="delete" width="13">
          </button>
        </li>
        <button id="size-button" class="add-dyn-day">+ add a day</button>
      </ul>


   <!-- Displays static needs -->
    <div class="staticNeeds">
      <h3 class="title-detail">Needs on a regular basis</h3>
      <div class="staticNeeds">
        <ol class="days-list-container">
          <li class="days-list-item" *ngFor="let day of days">
            <div class="checkbox">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" [(ngModel)]="day.isChecked"/>
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                  </span>
                  <span class="checkbox-label">{{day.val}}</span>
                </span>
              </label>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>


  <div class="confbutton">
    <div class="confbutton">
        <ion-button expand="block" (click)="deleteItem(currGadget.id, $event)" color="danger">Delete Gadget</ion-button>
        <br>
        <ion-button class="save-btn" expand="block" (click)="updateGadget()">Save</ion-button>
      </div>
    </div>
  </div>
</ion-content>
